*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
.DS_STORE
htmlcov
.coverage
bin
lib
include
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
var
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
.Python
*.pyc
*.pyo
*.tmp*
REAME.html
buildout.cfg
